.messagesContainer {
    background-image: url("../../fondoH.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    width: 350px;
    min-height: 500px;
    max-height: 600px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.message {
    width: 70%;
    align-self: start;
    background-color: var(--colorMain);
    opacity: 0.6;
    margin-top: 5px;
}

.myMessage {
    align-self: end;
    background-color: var(--colorSecondary);
    opacity: 0.6;
}

ul, li {
    list-style: none;
    padding: var(--mainPadding);
}

li {
    margin: var(--inputsMargin);
}